{{ define "main" }}
  {{ partial "breadcrumb.html" . }}
  <div class="container py-3 flex flex-col gap-8 mx-auto lg:mt-8 lg:flex-row">
    <!-- メインカラム：記事部分 -->
    <div class="w-full">
      <div class="prose max-w-none">
        {{ .Content }}
      </div>
      <!-- 記事一覧部分 -->
      {{ partial "paginator.html" . }}
    </div>

    <!-- サイドバー（右カラム） -->
    <aside class="w-full lg:w-1/3 hidden lg:block">
      <div class="sticky space-y-8 top-16">
        {{ partial "sidebar/popular-articles.html" . }}
        {{ partial "sidebar/categories.html" . }}
        {{ partial "sidebar/tags.html" . }}
      </div>
    </aside>
  </div>
{{ end }}
